-- AlterTable
ALTER TABLE "users" ADD COLUMN     "bvn" VARCHAR(11),
ADD COLUMN     "bvn_verified_at" TIMESTAMP(3),
ADD COLUMN     "nin" VARCHAR(11),
ADD COLUMN     "nin_verified_at" TIMESTAMP(3);

-- CreateIndex
CREATE INDEX "users_bvn_idx" ON "users"("bvn");

